<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="32000">
        <setting label="32001" type="bool" id="profile1" default="false" />
        <setting label="32002" type="text" id="name1" default="Ambilight" />
        <setting type="sep" />
        <setting label="32003" type="bool" id="profile2" default="false" />
        <setting label="32004" type="text" id="name2" default="Licht 1" />
        <setting type="sep" />
        <setting label="32005" type="bool" id="profile3" default="false" />
        <setting label="32006" type="text" id="name3" default="Licht 2" />
        <setting type="sep" />
        <setting label="32007" type="bool" id="profile4" default="false" />
        <setting label="32008" type="text" id="name4" default="Licht 3" />
    </category>
</settings>